.img_container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 3% 5%;
}

.text {
  width: 100%;
  text-align: justify;
  padding: 2% 3%;
}

.text h3 {
  text-align: center;
  margin-bottom: 2%;
}

.topsection h2 {
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 600px) {
  .img_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }

  .topsection h2 {
    padding: 2%;
    text-align: center;
    font-size: 2rem;
  }