#all_animal_pic {
  width: 100%;
}

.main_body {
  text-align: center;
  font-size: 1.5rem;
  padding: 5%;
}

.main_body h2 {
  margin-bottom: 3%;
}

.main_body p {
  margin-bottom: 5%;
  text-align: justify;
}

section {
  margin-top: 5%;
  padding-bottom: 5%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

section img {
  object-fit: cover;
  width: 100%;
  height: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section h5 {
  margin: 10% 0;
}

section button {
  background-color: orange;
  padding: 5% 15%;
  font-size: 18px;
  border: none;
  border-radius: 12px;
}

section button:hover {
  background-color: darkGreen;
}

button a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 600px) {
  .section_containter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2%;
  }
}