:root {
  --darkGreen: #222601;
  --lightGreen: #BDBF09;
}

*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Nunito', sans-serif;
}

.container {
  background-color: var(--darkGreen);
  padding: 1em;
  width:100%;
  top:0;
}

.logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--lightGreen);
  font-size: 1.2em;
  margin-left: 10px;
}

.logo-second-line {
  font-family: 'ZCOOL KuaiLe', cursive;
  color: white;
  font-size: 0.8em;
}

nav a {
  text-decoration: none;
  color: Black;
  display: block;
  padding: 10px;
  text-align: right;
  background-color: var(--lightGreen);
}

nav a:hover{
  background-color: white;
  color: var(--darkGreen);
  cursor: pointer;
  font-weight: bold;
}

nav li {
  list-style-type: none;
}

#toggleNav {
  display: none;
}

nav {
  width: 400px;
  position: fixed;
  right: -400px;
  top: 74px;
  transition: right 300ms ease-in-out;
  z-index: 10;
}

#toggleNav:checked ~ nav {
  right:0;
}

.toggleLook {
  height: 50px;
  top: 15px;
  right: 0;
  padding-right: 10px;
  position: fixed;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  z-index: 10;
}

@media screen and (min-width: 600px) {
  .toggleLook {
    display: none;
  }

  .current a {
    color: var(--lightGreen);
    font-weight: bold;
  }

  nav {
    right:0;
    top: 20px;
    position: absolute;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
  }

  nav a {
    background-color: var(--darkGreen);
    color: white;
  }

}
