.animal_section {
  text-align: center;
  padding:5%;
  padding-top:0;
  
}

.animals_typ_img {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.search-animals {
  padding: 10px;
}

#animals-categories, #animals-status {
  padding: 20px;
  cursor: pointer;
  border-radius: 5em;
  background-color: var(--lightGreen);
  color:var(--darkGreen);
}

.search_text{
  text-align: center;
  padding:5%;
  padding-top:0;

}
#animals-categories {
  text-align: center;
  padding:5%;
  padding-top:0;

}

#animals-status {
  text-align: center;
  padding:5%;
  padding-top:0;
}

.animals-top h3 {
  display: flex;
  top: 90px;
  width: 100%;
  position: absolute;
  color:var(--darkGreen);
  justify-content: left;
  font-size: 20px;
  padding-left: 15px;
}


.button1{
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;

}

#loadmore{
  font-size: 1rem;
  background-color:var(--darkGreen);
  color: White;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
}

#loadmore:hover{
  background-color: darkGreen;
}

.search_text{
  font-weight: bold;
  display: flex;
  align-content: center;
  padding: 10px;
}

#zibra{
  display: flex;
  align-content: center;
  width: 100%;
  padding: 5spx;
}

.animals-info p{
  color: #8C4F2B;
  font-weight: bold;
}

.animals-info p span{
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  .animals-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }

  .search-animals {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }

  .animals-top h3 {
    font-size: 25px;
    padding-left: 20px;
  }

  #sloth, #jaguar {
    height: 75%;
  }
  
}
@media screen and (min-width: 1080px) {
  .animals-top h3 {
    font-size: 30px;
    padding-left: 20px;
  }

  #sloth, #jaguar {
    height: 78%;
  }
}