<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Animals in the Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/Wildlife-Animals.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="animals-top">
    <h3>ANIMALS</h3>
    <img src="../images/zibra.jpeg" alt="zibra" id="zibra">
  </section>

  <section class="search-animals">

    <p class="search_text">SEARCH ANIMALS BY</p>

    <select name="animals-categories" id="animals-categories">
      <option value="Catetory">Catetory</option>
      <option value="Reptiles">Reptiles</option>
      <option value="Mammals">Mammals</option>
      <option value="Arthropods">Arthropods</option>
      <option value="Birds">Birds</option>
      <option value="Fish">Fish</option>
      <option value="Amphibians">Amphibians</option>
    </select>


    <select name="animals-status" id="animals-status">
      <option value="Conservation Status">Conservation Status</option>
      <option value="Endangered">Endangered</option>
      <option value="Some Threatened">Some Endangered</option>
      <option value="Threatened">Threatened</option>
      <option value="Some Threatened">Some Threatened</option>
      <option value="Stable">Stable</option>
    </select>


  </section>

  <div class="animals-info">
    <div class="animal_section">
      <img src="../images/sloth.jpg" alt="sloth" class="animals_typ_img">
      <p>Sloth</p>
      <p>Status:<span>Some Threatened</span></p>
    </div>

    <div class="animal_section">
      <img src="../images/spider monkey.jpg" alt="spider monkey" class="animals_typ_img">
      <p>White-Bellied Spider Monket</p>
      <p>Status:<span>Endangered</span></p>
    </div>

    <div class="animal_section">
      <img src="../images/jaguar.jpg" alt="jaguar" class="animals_typ_img">
      <p>Jaguar</p>
      <p>Status:<span>Threatened</span></p>
    </div>
    <div class="animal_section">
      <img src="../images/fox.jpg" alt="fox" class="animals_typ_img">
      <p>Crab-Eating Fox</p>
      <p>Status:<span>Stable</span></p>
    </div>

    <div class="animal_section">
      <img src="../images/monkey.jpg" alt="howler monkey" class="animals_typ_img">
      <p>Howler Monkey</p>
      <p>Status:<span>Stable</span></p>
    </div>

    <div class="animal_section">
      <img src="../images/capybara.jpg" alt="capybara" class="animals_typ_img">
      <p>Capybara</p>
      <p>Status:<span>Some Threatened</span></p>
    </div>
  </div>

  <div class="button1">
    <button id="loadmore">Load More</button>
  </div>


  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South American</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>