<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Explore our Wildlife</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook">&#9776</label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="Animal_feeding_middle">
    <h1>Animal Feeding Timetable</h1>
    <img src="../images/Animal_Feeding_Timetable.jpg" alt="Animal Feeding Timetable">


    <h1>Precautions for feeding animals</h1>
    <img src="../images/sheep.jpg" alt="Sheep">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.</p>
  </section>

  <footer>
    <div class="left-division">
      <h3>AMUAY</h3>
      <ul class="contact-information">
        <li><h4>Phone</h4></li>
        <li>+58 123 456 7890</li>
        <li><h4>Email</h4></li>
        <li>info@amuaywp.com</li>
        <li><h4>Address</h4></li>
        <li>Venezuela, South American</li>
      </ul>
    </div>

    <div class="right-division">
      <form action="">
        <label for="email">Newsletter Signup</label>
        <input type="text" id="email" name="email" placeholder="Email Address">

        <input type="submit" class="subscribe" value="Subscribe">
      </form>

      <hr style="width:50%;margin-right:0">

      <h5>Follow Us</h5>
      <img src="images/instagram.svg" alt="instagram">
      <img src="images/facebook.svg" alt="facebook">
      <img src="images/twitter.svg" alt="twitter">

    </div>

  </footer>
</body>
</html>
