<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Animal Encounters - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/animal_encounters.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li><a href="plan_your_visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <div class="topsection">
    <h2>Everything you can image- from Deer to Dolphon</h2>
  </div>

  <div class="img_container">
    <img src="../images/top-left.png" alt="snake">
    <img src="../images/top-right.jpg" alt="sloth">
  </div>

  <div class="text">
    <h3>Land Animal World</h3>
    <p>There is a wide range of animals that you can experience by exploring the wildlife park.You can witness
      animals like deers, sloths, snakes, etc,. You will also be given ance to go close to it, pet it and feed import.
      This is a great oppurtunity to learn about different animals that live on land. Every kid should enjoy this oppurtunity in AMUAY wildlife park.
      You are allowed to take pictures along with some of the endangered animals around the world. </p>
  </div>

  <div class="img_container">
    <img src="../images/bottom-left.jpg" alt="dolphon">
    <img src="../images/bottom-right.jpg" alt="bigfish">
  </div>
  <div class="text">
    <h3>Under Water animal World</h3>
    <p>There are also underwater creatures you can witness like never before. There are various fishes and other organsims you can see
      and have fun with. You are allowed to walk through a underwater tunnel built by thich glass that is safe and secure. You can experience these creatures close to you
      like walking with them in the ocean. Kids will have a wonderful time in the underwater water tunnel. Please come here to experience exciting creatures like dolphins, sting rays, otters etc,. </p>
  </div>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>