<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Drive Through</title>
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/Drive_through.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="drive_through_middle">
    <div class="twoImages">
      <div class="imageSectionDriveThrough">
        <img src="../images/safari_girraff.jpg" alt="Safari bus surrounding by giraffes">
      </div>
      <div class="description">
        <h3>Giraffe Photography Safari</h3>
        <h4>Status: Ready to start</h4>
        <div class="stars">
          <h5>Recommand level: </h5>
          <img id="stars-icon" class="Recommand-level" src="../images/four_stars.svg" alt="Recommand level">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur
          dolores.Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.
        </p>
        <h5>Start Date: 7th Mar</h5>
        <h5>End Date: 11th Dec</h5>
      </div>
      <div class="imageSectionDriveThrough">
        <img src="../images/safari_tiger.jpg" alt="Safari car">
      </div>
      <div class="description">
        <h3>Jungle Safari Night</h3>
        <h4>Status: Ready to start</h4>
        <div class="stars">
          <h5>Recommand level: </h5>
          <img id="stars-icon" class="Recommand-level" src="../images/three_stars.svg" alt="Recommand level">
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur
          dolores.Lorem
          ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.
        </p>
        <h5>Start Date: 12th Mar</h5>
        <h5>End Date: 13th Nov </h5>
      </div>
    </div>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>