<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Drive Through - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/drive_through.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="plan_your_visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="drive_through_middle">
    <div class="twoImages">
      <div class="imageSectionDriveThrough">
        <img src="../images/safari_girraff.jpg" alt="Safari bus surrounding by giraffes">
      </div>
      <div class="description">
        <h3>Giraffe Photography Safari</h3>
        <h4>Status: Ready to start</h4>
        <div class="stars">
          <h5>Recommand level: </h5>
          <img id="stars-icon" class="Recommand-level" src="../images/four_stars.svg" alt="Recommand level">
        </div>
        <p>Welcome guys who are giraffe lovers and would like to go on a safari tour, I am your best choice. Soak up the sun and the warm breeze on the tour bus, which travels on dirt paths, and experience the beauty of nature. Enjoy snacks and
          drinks prepared by the driver on board as you relax and look forward to the rest of the tour. You will then drive into the giraffe herd, and you won't believe your eyes, so many lovely giraffes surrounding you, it's so much fun to get up
          close and personal with the giraffes and there will be a professional camera on board to take pictures of you with the giraffes, trust me it will be an experience you will never forget!
        </p>
        <h5>Start Date: 7th Mar</h5>
        <h5>End Date: 11th Dec</h5>
      </div>
      <div class="imageSectionDriveThrough">
        <img src="../images/safari_tiger.jpg" alt="Safari car">
      </div>
      <div class="description">
        <h3>Jungle Safari Night</h3>
        <h4>Status: Ready to start</h4>
        <div class="stars">
          <h5>Recommand level: </h5>
          <img id="stars-icon" class="Recommand-level" src="../images/three_stars.svg" alt="Recommand level">
        </div>
        <p>Welcome guys who like to travel at night and love excitement, choosing me will be the best choice for your trip. The darkness of the night will inspire you to explore on a moonlit tour bus, where you will experience the landscape
          differently from the day. Beer and drinks are served on board to get you all excited for the ride. The most exciting part of the tour is the tiger colony, as there is special treatment on board so you don't have to worry about your safety,
          but of course, you are not allowed to get off during the safari. As the tigers surround you, you will feel the pressure of the beasts and the adrenaline will be pumping. Believe me, it's an unprecedented thrill!
        </p>
        <h5>Start Date: 12th Mar</h5>
        <h5>End Date: 13th Nov </h5>
      </div>
    </div>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>