<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drive through</title>
</head>
<body>
  <div class="navbar">
    <a class="logo" href="#">AMUAY<div class="second line">Wildlife Park</div></a>

    <img id="mobile-icon" class="mobile-menu" src="images/menu.svg" alt="Navigation Menu">

    <nav>
      <img id="mobile-exit" class="mobile-menu-exit" src="images/exit.svg" alt="Exit Navigation">

      <ul class="navigation">
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="drive_through_middle">
    <img src="../images/safari_girraff.jpg" alt="Safari bus surrounding by giraffes">
    <h3>Giraffe Photography Safari</h3>
    <h4>Status: Ready to start</h4>
    <h5>Recommand level: </h5>
    <img id="stars-icon" class="Recommand-level" src="../images/four_stars.svg" alt="Recommand level">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.</p>
    <h5>Start Date: 7th Mar</h5>
    <h5>End Date: 11th Dec</h5>

    <img src="../images/safari_tiger.jpg" alt="Safari car">
    <h3>Jungle Safari Night</h3>
    <h4>Status: Ready to start</h4>
    <h5>Recommand level: </h5>
    <img id="stars-icon" class="Recommand-level" src="../images/three_stars.svg" alt="Recommand level">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.</p>
    <h5>Start Date: 12th Mar</h5>
    <h5>End Date: 13th Nov </h5>
  </section>

  <footer>
    <div class="left-division">
      <h3>AMUAY</h3>
      <ul class="contact-information">
        <li><h4>Phone</h4></li>
        <li>+58 123 456 7890</li>
        <li><h4>Email</h4></li>
        <li>info@amuaywp.com</li>
        <li><h4>Address</h4></li>
        <li>Venezuela, South American</li>
      </ul>
    </div>

    <div class="right-division">
      <form action="">
        <label for="email">Newsletter Signup</label>
        <input type="text" id="email" name="email" placeholder="Email Address">

        <input type="submit" class="subscribe" value="Subscribe">
      </form>

      <hr style="width:50%;margin-right:0">

      <h5>Follow Us</h5>
      <img src="images/instagram.svg" alt="instagram">
      <img src="images/facebook.svg" alt="facebook">
      <img src="images/twitter.svg" alt="twitter">

    </div>

  </footer>
</body>
</html>
