<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../static/homepage.css">
  <link rel="stylesheet" href="../static/main.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li class="current"><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <img src="../images/all animals.jpg" alt="all animals in homepage" id="all_animal_pic">

  <div class="main_body">
    <h2>Get ready for an adventure</h2>
    <p>Welcome to Amuay wildlife park. Surround yourself with 72 km<sup>2</sup> genuine natural splendour in the west of the Venezuelan capital and meet a wide range of animals and plants through varying grassland, hills, and marshes. Every day in
      Amuay is unique as large herds of animals roam here. From manatees, Orinoco crocodiles to Venezuelan troupial, thousands of creatures are missing you.</p>

    <div class="section_containter">
      <section>
        <img src="../images/owl.jpg" alt="owl" class="middle_img">
        <h4>We Are Opening</h4>
        <h5>Check Opening Hour</h5>
        <button>
          <a href="information.html">Learn More</a>
        </button>
      </section>

      <section>
        <img src="../images/map in homepage.jpg" alt="map in homepage" class="middle_img">
        <h4>Get Directions</h4>
        <h5>View Park Map</h5>
        <button>
          <a href="information.html">Learn More</a>
        </button>

      </section>

      <section>
        <img src="../images/deer.jpg" alt="deer in homepage" class="middle_img">
        <h4>Attractions</h4>
        <h5>Animal feeding</h5>
        <button>
          <a href="Animal feeding.html">Learn More</a>
        </button>
      </section>
    </div>
  </div>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South American</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>