<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Information</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook">&#9776</label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li class="current"><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="info-top">
    <h4>Amuay Wildlife Park - Information Center</h4>
    <img src="../images/bear.jpeg" alt="bears">
  </section>

  <section class="main-information">
    <ul class="frequent-info">
      <li><span>Open hours:</span> 8 am to 5 pm, Monday to Sunday.</li>
      <li><span>Covid rules:</span> Under the latest rule of government, fully vaccinated guests are no longer to wear masks when visiting Amuay wildlife park.</li>
      <li><span>Pets:</span> Currently pets are not allowed for your animal’s safety and ours.</li>
      <li><span>Grill:</span> Grills are not allowed to use in any area of the park or within the picnic shelter.</li>
      <li><span>Smoking:</span> Smoking is not permitted anywhere on park grounds, including inside vehicles.</li>
      <li><span>Campgrounds:</span> Camp is not allowed in the park for your safety.</li>
    </ul>

    <br>

    <ul class="map-info">
      <li>
        <img src="../images/map-24.png" alt="map icon">
        <p>How To Find Us</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8116210.5655814195!2d-71.11258777521482!3d6.647733351724081!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2853cb36cbd801%3A0xdca0f2587cd54dd3!2sVenezuela!5e0!3m2!1sen!2sie!4v1647805391288!5m2!1sen!2sie" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </li>

      <li>
        <img src="../images/map-24.png" alt="map icon">
        <p>Tour Map In Park</p>
        <img src="../images/tour map.png" alt="tour map">
      </li>
    </ul>

    <br>

    <ul class="time-info">
      <li>
        <img src="../images/time-32.png" alt="time icon">
        <p>When To Visit Us</p>
        <ul class="visit-time">
          <h3>Opening Time</h3>
          <h4>Monday - Friday</h4>
          <p>9：00 am to 5:00 pm</p>
          <h4>Weekend</h4>
          <p>8：30 am to 10:00 pm</p>
        </ul>
      </li>

      <li>
        <img src="../images/time-32.png" alt="time icon">
        <p>Animal Feeding Time</p>
        <ul class="feeding-time">
          <h4>Morning feedings</h4>
          <p>10:00 am elephant</p
          <p>11:30 am giraffes</p>
          <p>12:00 am meerkats</p>
          <h4>Afternoon feedings</h4>
          <p>1:00 pm elephants</p>
          <p>1:30 pm lemurs</p>
          <p>3:00 pm sun bears</p>
        </ul>
      </li>
    </ul>
  </section>

  <section class="query">
    <p>AMUAY Wildlife Park Welcomes Your Comments, Suggestions, And Questions!</p>

    <img src="../images/email-32.png" alt="email-icon">
    <p>Get In Touch</p>

    <form action="">
      <input type="text" id="name" name="name" placeholder="Name">
      <input type="text" id="email" name="email" placeholder="Email">
      <input type="text" id="phone" name="phone" placeholder="Phone">
      <input type="text" id="theme" name="theme" placeholder="Query Theme">
      <textarea name="message" id="message" rows="10" cols="60" placeholder="Message(0 of 1000 max characters)"></textarea>
      <input type="submit" class="send-message" value="Submit">
    </form>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li><h4>Phone</h4></li>
          <li>+58 123 456 7890</li>
          <li><h4>Email</h4></li>
          <li>info@amuaywp.com</li>
          <li><h4>Address</h4></li>
          <li>Venezuela, South American</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li><h5>Follow Us</h5></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
