<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Plan Your Visit - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../static/main.css">
  <link rel="stylesheet" href="../static/plan_your_visit.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="plan_your_visit_middle">
    <h1>Experience The Magic</h1>
    <div class="allImage">
      <div class="imageSection">
        <img src="../images/deer_in_plan_visit.jpg" alt="deer in front of a car">
        <h3>Driver Through</h3>
        <p>Sitting in the park vehicles to get up close to elusive animals safely and gain a wonderful experience.</p>
        <a href="Drive through.html">Learn More</a>

      </div>
      <div class="imageSection">
        <img src="../images/woods.jpg" alt="people walking in the woods">
        <h3>Walking Tour</h3>
        <p>Following the recommended route, stroll and stop along the way to see and get up-close with plants and animals.</p>
        <a href="Walking tour.html">Learn More</a>
      </div>
      <div class="imageSection">
        <img src="../images/child_feeding_deer.jpg" alt="child feeding a deer">
        <h3>Animal Feeding</h3>
        <p>Feed animals at Amuay Feeding Area, a place specifically for you to feed our animals from extremely tall giraffes to tiny parrots.</p>
        <a href="Animal feeding.html">Learn More</a>
      </div>
      <div class="imageSection">
        <img src="../images/deer_in_jungle.jpg" alt="deer standing in jungle">
        <h3>Animal Encounters</h3>
        <p>Get up close during animal encounters with manatees, Amazon river dolphins and giant anteaters at Amuay wildlife park.</p>
        <a href="Animal Encounters.html">Learn More</a>
      </div>
    </div>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>