<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Plants - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/plants.css">


</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="current"><a href="wildlife.html">Wildlife</a></li>
        <li><a href="plan_your_visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class="plants-top">
    <img src="../images/plant.jpeg" alt="ferns" id="ferns">
    <h3>PLANTS</h3>
  </section>

  <section class="search-plants">
    <p class="search_text">SEARCH PlANTS BY</p>
    <select name="plants-categories" id="plants-categories">
      <option value="Catetory">Catetory</option>
      <option value="Ferns">Ferns</option>
      <option value="Flowers">Flowers</option>
      <option value="Grasses">Grasses</option>
      <option value="Herbs">Herbs</option>
      <option value="Palms">Palms</option>
      <option value="Cactus">Cactus</option>
    </select>

    <select name="plants-status" id="plants-status">
      <option value="Conservation Status">Conservation Status</option>
      <option value="Endangered">Endangered</option>
      <option value="Some Threatened">Some Endangered</option>
      <option value="Threatened">Threatened</option>
      <option value="Some Threatened">Some Threatened</option>
      <option value="Stable">Stable</option>
    </select>
  </section>

  <div class="plants-info">
    <div class="plants_section">
      <img src="../images/Andean Lupine Flower.jpeg" alt="Lupine" class="plants_typ_img">
      <p>Lupine</p>
      <p>Status:<span>Stable</span></p>
    </div>

    <div class="plants_section">
      <img src="../images/Araguaney Tree.jpeg" alt="Araguaney" class="plants_typ_img">
      <p>Araguaney</p>
      <p>Status:<span>Stable</span></p>
    </div>

    <div class="plants_section">
      <img src="../images/Hero_ginger.jpg" alt="ginger" class="plants_typ_img">
      <p>Ginger</p>
      <p>Status:<span>Some Threatened</span></p>
    </div>

    <div class="plants_section">
      <img src="../images/cactus.jpg" alt="cactus" class="plants_typ_img">
      <p>Cactus</p>
      <p>Status:<span>Some Endangered</span></p>
    </div>

    <div class="plants_section">
      <img src="../images/Moriche Palm Tree.jpeg" alt="moriche palm" class="plants_typ_img">
      <p>Moriche Palm</p>
      <p>Status:<span>Some Threatened</span></p>
    </div>

    <div class="plants_section">
      <img src="../images/Orchids.jpeg" alt="orchids" class="plants_typ_img">
      <p>Orchids</p>
      <p>Status:<span>Some Threatened</span></p>
    </div>
  </div>

  <div class="button1">
    <button id="loadmore">Load More</button>
  </div>


  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South American</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>