<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Walking Tour - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../styles/main.css">
  <link rel="stylesheet" href="../styles/walking_tour.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="wildlife.html">Wildlife</a></li>
        <li class="current"><a href="plan_your_visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>
  <section class="Walking_tour">
    <h1>Walking Tour</h1>
    <h4>Map of route to discover animals and plants</h4>
    <img src="../images/map_guide.jpg" alt="Guide " class="walking_tour_img">
  </section>
  <div class="content">
    <section class="Discover_animals">
      <h1>Discover animals</h1>
      <img src="../images/dear_in_walking_tour.jpg" alt="Deer" class="discover_animals_img">
      <p>Choose me for an exhilarating hike, there's no denying the wildlife in nature, it's full of life and lively critters like little elves, you'll find all kinds of animals by your fee, you can also try to find all the animal illustrations
        posted on the website, it'll be a great opportunity to learn about animals, come and hike don't hesitate!
      </p>
    </section>

    <section class="Discover_plants">
      <h1>Discover plants</h1>
      <img src="../images/Cacti.jpg" alt="Cacti" class="discover_animals_img">
      <p>Choose me for a peaceful and quiet hike, there's no turning away from a walk through a trail full of beautiful plants, you'll find all kinds of plants and you'll be amazed, if you don't know it, you can try to visit the website to see all
        the plant illustrations posted, it's a great opportunity to learn about plants, come and hike!
      </p>
    </section>


  </div>
  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>