<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Explore our Wildlife - Amuay Wildlife Park</title>
  <link rel="stylesheet" href="../styles/wildlife.css">
  <link rel="stylesheet" href="../styles/main.css">
</head>

<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook"><i class="fa-solid fa-bars"></i></label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="current"><a href="wildlife.html">Wildlife</a></li>
        <li><a href="plan_your_visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>

  <section class=“top-pic”>
    <img src="../images/lion-drinking-water.jpeg" class="lionDriking-img" alt="Lions Drinking Water">
    <h2>EXPLORE OUR FLORA AND FAUNA</h2>
    <p class="h3-top">At Amuay, thousands of plants and animals are waiting for you to explore.</p>
  </section>

  <section class="middle">
    <p>Welcome to AMUAY Wildlife Park! Our land is home to an amazing abundance of plant and animal life. The AMUAY Wildlife Park is a 200-acre facility with an extraordinary variety of flora and fauna from habitats around the world, many of them
      rare and precious. </p>
    <div class="middle-container">
      <div class="plant-container">
        <a href="plants.html">
          <img src="../images/tree.jpg" class="plant" alt="Plants">
          <h3 class="h3-wildlife">PLANTS</h3>
        </a>
      </div>
      <div class="animal-container">
        <a href="animals.html">
          <img src="../images/lions.jpg" class="animal" alt="Animals">
          <h3 class="h3-wildlife">ANIMALS</h3>
        </a>
      </div>
    </div>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li>
            <h4>Phone</h4>
          </li>
          <li>+58 123 456 7890</li>
          <li>
            <h4>Email</h4>
          </li>
          <li>info@amuaywp.com</li>
          <li>
            <h4>Address</h4>
          </li>
          <li>Venezuela, South America</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li>
            <h5>Follow Us</h5>
          </li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>

</html>