<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/dd492554c3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/open-props"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

  <title>Explore our Wildlife</title>
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <div class="container">
    <a class="logo" href="#">AMUAY<div class="logo-second-line">Wildlife Park</div></a>
    <input type="checkbox" id="toggleNav">
    <label for="toggleNav" class="toggleLook">&#9776</label>
    <nav>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="current"><a href="wildlife.html">Wildlife</a></li>
        <li><a href="Plan your visit.html">Plan Your Visit</a></li>
        <li><a href="information.html">Information</a></li>
      </ul>
    </nav>
  </div>



  <section class=“top-pic”>
    <h2>EXPLORE OUR FLORA AND FAUNA</h2>
    <h3>At Amuay, Thousands Of Plant And Animals Are Waiting For You To Explore</h3>

    <img src="../images/lion-drinking-water.jpeg" alt="Lions Drinking Water">
  </section>

  <section class="middle">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit aliquam inventore, repellat id dicta, doloribus eaque tenetur! Expedita alias animi, voluptatibus ipsum, beatae, accusantium sunt dolore doloribus nam consectetur dolores.</p>
    <a href="plants.html">
      <img src="../images/tree.jpg" alt="Plants">
      <h3>PLANTS</h3>
    </a>

    <a href="animals.html">
      <img src="../images/lions.jpg" alt="Animals">
      <h3>ANIMALS</h3>
    </a>
  </section>

  <footer>
    <div class="flex-container">
      <div class="left-division">
        <h3>AMUAY<span> Wildlife Park </span></h3>
        <ul class="contact-information">
          <li><h4>Phone</h4></li>
          <li>+58 123 456 7890</li>
          <li><h4>Email</h4></li>
          <li>info@amuaywp.com</li>
          <li><h4>Address</h4></li>
          <li>Venezuela, South American</li>
        </ul>
      </div>

      <div class="right-division">
        <div class="subscribe-news">
          <form action="">
            <label for="email" class="newsletter" style="font-weight: bold">Newsletter Signup</label>
            <input type="text" id="email" name="email" placeholder="Email Address">
            <input type="submit" class="subscribe" value="Subscribe">
          </form>
        </div>

        <hr style="width:65%">

        <ul class="social">
          <li><h5>Follow Us</h5></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
  </body>
  </html>
