.plants_section {
  text-align: center;
  padding: 5%;
  padding-top: 0;
}

.plants_typ_img {
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: cover;
  width: 85%;
  height: 85%;
}

.search-plants {
  margin: 15px;
  padding: 10px;
}

.search-plants p {
  width: 100%;
}

.search-plants select {
  width: 100%;
}

#plants-categories, #plants-status {
  cursor: pointer;
  padding: 20px;
  cursor: pointer;
  border-radius: 5em;
  background-color: var(--lightGreen);
  color: var(--darkGreen);
}

.search_text {
  text-align: center;
  padding: 5%;
  padding-top: 0;
}

#plants-categories {
  text-align: center;
  padding: 5%;
  padding-top: 0;
}

#plants-status {
  text-align: center;
  padding: 5%;
  padding-top: 0;
}

.plants-top h3 {
  display: flex;
  top: 90px;
  width: 100%;
  position: absolute;
  color: white;
  justify-content: left;
  font-size: 20px;
  padding-left: 15px;
}

.button1 {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;
}

#loadmore {
  font-size: 1rem;
  background-color: orange;
  color: White;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  width: 30%;
  margin: 20px;
}

#loadmore:hover {
  background-color: darkGreen;
}

#ferns {
  display: flex;
  align-content: center;
  width: 100%;
}

.plants-info p {
  color: #8C4F2B;
  font-weight: bold;
}

.plants-info p span {
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  .plants-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }

  .search-plants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }

  .plants-top h3 {
    font-size: 25px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1080px) {
  .plants-top h3 {
    font-size: 30px;
    padding-left: 20px;
  }
}